/* .icons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: -320px;
    
} */
                       
/* .iconing{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 50;
    
} */
/* .card-body2{
    margin-top: 50;
} */